@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

body {
    background-color: #000;
    background: linear-gradient(to right, #ebc8ff, #ffd298);
    height: 100vh;
    overflow: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .logo img {
    width: 40px;
    margin: 0px 5px;
}

#logo-text {
    font-weight: 600;
    font-size: 25px;
}

.nav-bar ul li {
    position: relative;
    display: inline;
    margin: 0px 10px;
    transition: all 0.3s ease;
}

.nav-bar ul li:hover {
    font-weight: 500;
}

.nav-bar ul li::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 18px;
    width: 0px;
    height: 1px;
    background-color: #000;
    transition: all 0.3s ease;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
}

.nav-bar #log-out {
    position: relative;
    display: inline;
    background-color: rgb(247, 247, 247);
    width: 100px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0000007e;
    border: none;
    transition: all 0.3s ease;
}

.nav-bar #log-out:hover {
    scale: 1.05;
    background-color: #e4e4e4;
}

.nav-bar #log-out #pfp {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 600;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 18px;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.welcome span {
    padding: 0px 10px;
    font-weight: 800;
    font-size: 30px;
    
}

.container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/*
.container {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px;
}
*/


    /* COLUMN 1 */

.container #col1 #kalendarz {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0000004f;
    margin: 5px 0px;
}

.container #col1 #kalendarz #kalendarz-title {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
}

.container #col1 #kalendarz ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    list-style-type: none;
}

.container #col1 #kalendarz #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px 10px 5px 10px;
    gap: 10px;
}

.container #col1 #kalendarz #calendar .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    position: relative;
    cursor: default;
    border-radius: 20px;
}

.container #col1 #kalendarz #calendar .calendar-day span {
    text-align: center;
    justify-content: center;
}

.container #col1 #kalendarz .days {
    font-size: 14px;
    font-weight: 600;
}

.container #col1 #kalendarz ul li {
    text-align: center;
}

.container #col1 {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.container #col1 #zadania {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0000004f;
    width: 330px;
    margin: 5px 0px;
}

.container #col1 #zadania .container-title {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.container #col1 #zadania .assignments .assignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #fff;
    margin: 5px 0px;
    border: 8px;
    box-shadow: 0px 0px 5px #0000004f;
    padding: 5px;
    height: 40px;
    border-radius: 8px;
}

.container #col1 #zadania .assignments .assignment .as-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 80%;
    font-weight: 500;
    font-size: 13px;
}

.container #col1 #zadania .assignments .assignment .assignment-course {
    text-align: center;
}

.container #col1 #zadania .assignments .assignment button {
    background-color: #5f5f5f;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.container #col1 #zadania .assignments .assignment button:hover {
    background-color: #464646;
}

.as-info .assignment-title {
    font-weight: 600;
}



/* COLUMN 2 */

#col2 {
    flex: 1;
    margin: 0px 25px 0px 0px;
    max-height: 100%;
}

.container #col2 #lekcje {
    margin: 5px 0px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0000004f;
    width: 100%;
    height: 100%
}

.container #col2 #lekcje .container-title{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.container #col2 #lekcje .subjects {
    display: grid;
    height: 470px;
    overflow-y: scroll;
}

.container #col2 #lekcje .subjects::-webkit-scrollbar {
    width: 7px;
}

.container #col2 #lekcje .subjects::-webkit-scrollbar-track {
    background-color: transparent;
}

.container #col2 #lekcje .subjects::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
}

.container #col2 #lekcje .subjects::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

.container #col2 #lekcje .subjects .class {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    height: 100px;
    min-width: 243px;
    background-color: transparent;
    padding: 10px;
    box-shadow: 0px 0px 5px #0000004f;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 3px;
}

.container #col2 #lekcje .subjects .class .subject-title {
    font-weight: 500;
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.container #col2 #lekcje .subjects .class div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}