@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background: linear-gradient(to right, #ebc8ff, #ffd298);
    height: 100vh;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #0000005e;
}

.container .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .form-container .login-text {
    font-size: 36px;
    font-weight: 600;
    margin: 10px
}

.container .form-container .socials ul {
    list-style: none;
    display: flex;
}

.container .form-container .socials ul li {
    display: inline;
}

.container .form-container .socials ul li button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #000;
    font-size: 25px;
    padding: 9px;
    border-radius: 8px;
    cursor: pointer;
    margin: 3px;
    transition: all 0.3s ease;
}

.container .form-container .socials ul li button:hover {
    background-color: #dadada;
}

.container .form-container .small {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.container .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}

.container .form-container form .input-box {
    display: block;
    background-color: #e2e2e2;
    border: none;
    border-radius: 8px;
    height: 30px;
    padding: 5px 10px;
    margin: 5px 0px;
    min-width: 90%;
    outline: none;
}

.container .form-container form .submit-btn {
    height: 40px;
    margin: 5px;
    padding: 10px 70px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: #ebc8ff80;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .form-container form .submit-btn:hover {
    background-color: #ebc8ff;
    scale: 1.05;
    box-shadow: 0px 0px 10px #ebc8ff;
}

.toggle {
    border-radius: 10px 10px 30px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebc8ff;
    background: linear-gradient(to right, #ebc8ff, #ffd298);
    margin-bottom: 10px;
}

.toggle .bold {
    font-weight: 600;
}

.toggle-btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    margin: 5px 50px;
    background-color: transparent;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.toggle-btn:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transition: 0.5s;
}

#sign-up {
    display: none;
}

.toggle-signup {
    display: none;
}

.container.active #sign-up {
    display: flex;
}

.container.active .toggle-signup {
    display: flex;
}

.container.active #sign-in {
    display: none;
}

.container.active .toggle-signin {
    display: none;
}
