@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background: linear-gradient(to right, #ebc8ff, #ffd298);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000005e;
}

.container span {
    font-size: 36px;
    font-weight: 600;
    margin: 10px
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}

.container form .input-box {
    background-color: #e2e2e2;
    border: none;
    border-radius: 8px;
    height: 30px;
    padding: 5px 5px;
    margin: 5px 0px;
    width: 95%;
    outline: none;
}

.container form .submit-btn {
    width: 40%;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: #ebc8ff80;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container form .submit-btn:hover {
    background-color: #ebc8ff;
    scale: 1.05;
    box-shadow: 0px 0px 10px #ebc8ff;
}