@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .logo img {
    width: 40px;
    margin: 0px 5px;
}

#logo-text {
    font-weight: 600;
    font-size: 25px;
}

.nav-bar ul li {
    position: relative;
    display: inline;
    margin: 0px 10px;
    transition: all 0.3s ease;
}

.nav-bar ul li:hover {
    font-weight: 500;
}

.nav-bar ul li::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 18px;
    width: 0px;
    height: 1px;
    background-color: #000;
    transition: all 0.3s ease;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
}

.nav-bar #log-out {
    position: relative;
    display: inline;
    background-color: rgb(247, 247, 247);
    width: 100px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0000007e;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-bar #log-out:hover {
    scale: 1.05;
    background-color: #e4e4e4;
}

.nav-bar #log-out #pfp {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 600;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 18px;
}

.nav-bar .open-nav {
    display: none;
    padding: 5px;
    font-weight: 500;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-bar .open-nav:hover {
    color: #e6e6e6;
}

.small-nav {
    display: none;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    background-color: #ffffffe8;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.small-nav.active {
    display: flex;
}

.small-nav ul {
    margin-top: 150px;
    list-style-type: none;
}

.small-nav ul li {
    position: relative;
    margin: 5px 0px;
    font-size: 30px;
}

.small-nav ul li a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #000;
    left: 0px;
    top: 100%;
    transition: all 0.3s ease;
}

.small-nav ul li:hover a::after{
    width: 100%;
}

.small-nav ul button {
    padding: 10px 60px;
    border: none;
    border-radius: 8px;
    background-color: #ffd298;
    box-shadow: 0px 0px 5px #0000004f;
    margin: 10px 0px;
    transition: all 0.3s ease;
}

.small-nav ul button:hover {
    scale: 1.1;
    box-shadow: 0px 0px 5px #ffd2989d;
}

.small-nav ul li a{
    display: inline;
    color: #000;
    position: relative;
    text-decoration: none;
}

.small-nav .close-small {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


@media screen and (max-width: 670px) {

    .nav-bar {
        justify-content: space-between;
        margin: auto 10px;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar #log-out {
        display: none;
    }

    .nav-bar .open-nav {
        display: inline;
    }
}