@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

body {
    background-color: #000;
    background: linear-gradient(to right, #ebc8ff, #ffd298);
    height: 100vh;
    overflow-x: hidden;
}

    /* CONTAINER */

.title {
    display: block;
    font-weight: 600;
    font-size: 23px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .course-title {
    display: flex;
}

.container .course-title span {
    background-color: #fff;
    padding: 20px 10px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #0000004f;
}

.course-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    margin: 30px 20px 0px 20px;
    border-radius: 20px;
    width: 100%;
}

.course-container .users {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    height: 100%;
    margin: 0px 5px;
    box-shadow: 0px 0px 5px #0000004f;
    padding: 5px;
}

.course-container .users #users-title {
    text-align: center;
}

.course-container .users ul{
    list-style-type: none;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow-y: scroll ;
}

.course-container .users ul::-webkit-scrollbar {
    width: 7px;
}

.course-container .users ul::-webkit-scrollbar-track {
    background-color: transparent;
}

.course-container .users ul::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
}

.course-container .users ul::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

.course-container .users ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #0000004f;
    margin: 5px 3px;
    padding: 5px;
    border-radius: 8px;
}

.course-container .users ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.course-container #users2 {
    display: none;
}

.course-container .assignments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px 5px;
    box-shadow: 0px 0px 5px #0000004f;
    padding: 5px;
    overflow: hidden;
}

.course-container .assignments #assignments-title {
    margin: 0px 50px;
    text-align: left;
}

.course-container .assignments ul {
    width: 95%;
    padding: 5px 5px;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 440px;
    border-radius: 8px;
}

.course-container .assignments ul::-webkit-scrollbar {
    width: 7px;
}

.course-container .assignments ul::-webkit-scrollbar-track {
    background-color: #fff;
}

.course-container .assignments ul::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
}

.course-container .assignments ul::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

.course-container .assignments ul .assignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 5px #0000004f;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 10px 0px;
    flex: 1;
}

.course-container .assignments ul .assignment .as-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    width: auto;
}

.course-container .assignments ul .assignment .as-info .assignment-title {
    font-weight: 600;
    height: auto;
}

.course-container .assignments ul .assignment button {
    background-color: #ebc8ff;
    border: none;
    padding: 8px 35px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.course-container .assignments ul .assignment button:hover {
    box-shadow: 0px 0px 5px #d996ff;
    scale: 1.03;
}

.course-container .assignments .bottom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.course-container .assignments .bottom .invite {
    background-color: transparent;
    border: 2px solid #ebc8ff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 10px 10px 5px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.course-container .assignments .bottom .invite:hover {
    background-color: #ebc8ff;
    box-shadow: 0px 0px 5px #d996ff;
    scale: 1.03;
}

.course-container .assignments .bottom .create {
    border: none;
    background-color: #ebc8ff;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.course-container .assignments .bottom .create:hover {
    box-shadow: 0px 0px 5px #d996ff;
    scale: 1.03;
}

.create-assignment-background {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000a9;
    z-index: 5;
}

.create-assignment-background.active {
    display: flex;
}

.create-assignment-background .create-assignment {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    padding: 15px;
}

.create-assignment-background .create-assignment #closeCreate {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.create-assignment-background .create-assignment .header {
    font-weight: 600;
    font-size: 20px;
}

.create-assignment-background .create-assignment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.create-assignment-background .create-assignment form input{
    border: none;
    background-color: #ececec;
    border-radius: 8px;
    width: 90%;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

.create-assignment-background .create-assignment form .desc {
    border: none;
    background-color: #ececec;
    border-radius: 8px;
    width: 90%;
    height: 50px;
    margin: 10px;
    padding: 5px 5px 30px 5px;
    resize: none;
}

.create-assignment-background .create-assignment form .submit {
    background-color: #d996ff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-assignment-background .create-assignment form .submit:hover{
    background-color: #b97fdb;
}

.invite-background {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000a9;
    z-index: 5;
}

.invite-background.active {
    display: flex;
}

.invite-background .invite-code {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
}

.invite-background .invite-code #closeInvite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.invite-background .invite-code .header {
    font-weight: 600;
    font-size: 20px;
}

.invite-background .invite-code .desc {
    text-align: center;
    margin: 0px 10px;
}

.invite-background .invite-code #code {
    display: block;
    background-color: #dfdfdf;
    width: 300px;
    padding: 25px 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.invite-background .invite-code .new-code {
    border: none;
    padding: 10px 10px;
    background-color: #d996ff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

.invite-background .invite-code .new-code:hover {
    scale: 1.03;
    box-shadow: 0px 0px 5px #d996ff;
}
@media screen and (max-width: 1024px) {

    .course-container .assignments ul .assignment {
        flex-direction: column;
    }

    .course-container .assignments ul .assignment .as-info {
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        gap: 0px;
    }

    .course-container .assignments ul .assignment .as-info .assignment-date {
        font-size: 14px;
    }

    .course-container .assignments ul .assignment button {
        margin-top: 10px;
        width: 70%;
    }
}

@media screen and (max-width: 500px) {

    .course-container .assignments #assignments-title {
        text-align: center;
    }
    .course-container .assignments ul .assignment .as-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    .course-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .course-container .users {
        display: none;
    }

    .course-container .assignments {
        width: 80%;
    }

    .course-container .assignments ul{
        height: auto;
        margin: 0px;
    }
    
    .course-container #users2 {
        display: block;
        margin: 10px 0px;
        width: 80%;
    }

    .course-container #users2 ul {
        height: auto;
    }

    .invite-background .invite-code {
        width: 80%;
    }

    .invite-background .invite-code #code {
        width: 90%;
    }
}